html
    head
        meta(charset="utf8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title Sergei Sablin Test work

        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover, shrink-to-fit=no")

        style
            include:clean-css:stylus ../css/base.styl

    body
        #app
