<template lang="pug">
el-card.box-card
    table(:class="$style.cardTable")
        tr.text.item(
            v-for="(fieldValue, fieldKey) in showedItem"
            :key="fieldKey"
        )
            td(:class="$style.cardCell") {{ fieldKey }}
            td(:class="$style.cardCell")
                el-input(
                    v-if="(isCreatable || isEditActive) && !$options.PROHIBITED_TO_EDIT_FIELDS_SET.has(fieldKey)"
                    autosize
                    type="textarea"
                    v-model="showedItem[fieldKey]"
                ) {{ fieldValue }}
                pre(
                    v-else
                    :class="$style.cardCellValue"
                ) {{ fieldValue }}
        tr
            td(
                :class="$style.toolbarCell"
                colspan="2"
            )
                template(v-if="isModifiable")
                    template(v-if="isEditActive")
                        el-button(
                            size="mini"
                            type="success"
                            @click="onEditSave"
                        ) Save
                        el-button(
                            size="mini"
                            type="warning"
                            @click.stop="onEditCancel"
                        ) Edit Cancel
                    el-button(
                        v-else
                        size="mini"
                        type="warning"
                        @click.stop="onEdit"
                    ) Edit
                    el-button(
                        size="mini"
                        type="danger"
                        @click.stop="onDelete(item)"
                    ) Delete
                el-button(
                    v-if="isCreatable"
                    size="mini"
                    type="success"
                    @click.stop="onCreate"
                ) Create
</template>

<script>
import { computed, reactive, ref } from 'vue';
import { getResourceItemClone } from '@utils/resource';
import { Resource } from '@/models/resource/Resource';

const PROHIBITED_TO_EDIT_FIELDS_SET = new Set(['id']);

export default {
    props: {
        item: {
            type: Resource,
            required: true,
        },
    },

    emits: ['create', 'delete', 'update'],

    setup(props, context) {
        const isCreatable = computed(() => !props.item.id);
        const isModifiable = computed(() => !!props.item.id);
        const isEditActive = ref(false);
        const editableItemClone = reactive(getResourceItemClone(props.item));
        const showedItem = computed(
            () => ((isCreatable.value || isEditActive.value) ? editableItemClone : props.item),
        );

        function resetEditableItem() {
            Object.entries(props.item).forEach(([key, value]) => { editableItemClone[key] = value; });
        }

        function onCreate() {
            context.emit('create', getResourceItemClone(editableItemClone));
            resetEditableItem();
        }
        function onDelete() {
            context.emit('delete', props.item);
        }
        function onEdit() {
            isEditActive.value = true;
        }
        function onEditCancel() {
            resetEditableItem();
            isEditActive.value = false;
        }
        function onEditSave() {
            context.emit('update', editableItemClone);
            isEditActive.value = false;
        }

        return {
            isCreatable,
            isModifiable,
            isEditActive,
            showedItem,
            onCreate,
            onDelete,
            onEdit,
            onEditCancel,
            onEditSave,
        };
    },

    PROHIBITED_TO_EDIT_FIELDS_SET,
};
</script>

<style lang="stylus" module>
.cardTable
    width  100%

.cardCell
    vertical-align top

    &:first-child
        text-align right
        font-weight 500
        width 80px

    &:last-child
        padding-left 10px

.cardCellValue
    margin 0

.toolbarCell
    text-align right
</style>
