<template lang="pug">
el-collapse(
    v-infinite-scroll="onShowMore"
    v-model="collapseActiveItemName"
    accordion
)
    el-collapse-item(
        name="-1"
        :class="$style.createNewCollapseItem"
    )
        template(#title)
            span
            el-tag(
                type="success"
            ) Create new item
        ResourceListItem(
            :item="emptyResourceItem"
            @create="onCreate"
        )
    el-collapse-item(
        v-for="item in showedItems"
        :key="item.id"
        :name="item.id"
        :title="$options.getItemTitle(item)"
    )
        ResourceListItem(
            :item="item"
            @delete="onDelete"
            @update="onUpdate"
        )
</template>

<script>
import {
    computed, ref, toRefs, watch,
} from 'vue';
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';
import debounce from 'lodash.debounce';
import ResourceListItem from '@components/resource/ResourceListItem.vue';
import { resourceCategoryEnum, routeQueryEnum } from '@enums';
import { getEmptyResourceItem } from '@utils/resource';

const itemKeysToSearchInSet = new Set([
    'id',
    'name',
    'username',
    'address',
    'phone',
    'website',
    'company',
    'title',
    'body',
    'url',
    'thumbnailUrl',
]);

const SHOWED_ITEMS_INCREMENT = 20;

export default {

    components: {
        ResourceListItem,
    },
    props: {
        items: {
            type: Array,
            required: true,
        },
        resourceCategory: {
            type: String,
            validator: (category) => Object.values(resourceCategoryEnum).includes(category),
            required: true,
        },
    },

    setup(props) {
        const router = useRouter();
        const store = useStore();

        const collapseActiveItemName = ref(null);
        const { items, resourceCategory } = toRefs(props);
        const showedItemsCount = ref(SHOWED_ITEMS_INCREMENT);
        const filteredItems = ref([]);
        const filter = computed(() => router.currentRoute.value.query[routeQueryEnum.FILTER]);
        const emptyResourceItem = computed(() => getEmptyResourceItem(resourceCategory.value));

        watch(
            [filter, items],
            debounce(([filterStr]) => {
                filteredItems.value = filterStr
                    ? items.value.filter(
                        (item) => Object.entries(item).some(
                            ([key, value]) => itemKeysToSearchInSet.has(key) && `${value}`.indexOf(filterStr) !== -1,
                        ),
                    )
                    : items.value;
                showedItemsCount.value = SHOWED_ITEMS_INCREMENT;
            }),
            { immediate: true },
        );

        const showedItems = computed(() => filteredItems.value.slice(0, showedItemsCount.value));

        function onShowMore() {
            showedItemsCount.value += SHOWED_ITEMS_INCREMENT;
        }
        function onCreate(item) {
            store.dispatch(
                'resources/createResource',
                { resourceCategory: props.resourceCategory, data: item },
            );
            collapseActiveItemName.value = undefined;
        }
        function onDelete(item) {
            store.dispatch(
                'resources/deleteResource',
                { resourceCategory: props.resourceCategory, id: item.id },
            );
        }
        function onUpdate(item) {
            store.dispatch(
                'resources/updateResource',
                { resourceCategory: props.resourceCategory, id: item.id, data: item },
            );
        }

        return {
            collapseActiveItemName,
            emptyResourceItem,
            showedItems,
            onShowMore,
            onCreate,
            onDelete,
            onUpdate,
        };
    },

    getItemTitle(item) {
        return `${item.id} | ${item.name || item.title}`;
    },
};
</script>

<style lang="stylus" module>
.createNewCollapseItem
    i
        display none
</style>
