<template lang="pug">
ResourceList(
    v-if="isDataLoaded"
    :items="resourceItems"
    :resourceCategory="resourceCategory"
)
Loader(v-else)
</template>

<script>
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import Loader from '@components/Loader.vue';
import ResourceList from '@components/resource/ResourceList.vue';
import { routeParamEnum } from '@enums';
import useLoadedResources from '@hooks/useLoadedResources';

export default {

    components: {
        Loader,
        ResourceList,
    },

    setup() {
        const route = useRoute();
        const resourceCategory = computed(() => route.params[routeParamEnum.RESOURCE_CATEGORY]);
        const neededResourcesArr = computed(() => [resourceCategory.value]);
        const { resources, isDataLoaded } = useLoadedResources(neededResourcesArr);
        const resourceItems = computed(() => Object.values(resources.value[resourceCategory.value] || {}));

        return {
            resourceItems,
            resourceCategory,
            isDataLoaded,
        };
    },
};
</script>
