<template lang="pug">
component(
    v-if="layout"
    :is="layout"
)
    template(
        v-for="(_, name) in components"
        v-slot:[name]
        :key="name"
    )
        router-view(
            :name="name"
        )
</template>

<script>
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import { routeMetaEnum } from '@enums';

export default {
    setup() {
        const route = useRoute();

        const layout = computed(() => route.meta[routeMetaEnum.LAYOUT]);
        const components = computed(() => route?.matched[0]?.components);

        return {
            components,
            layout,
        };
    },
};
</script>
