<template lang="pug">
el-menu(
    router
    mode="horizontal"
    background-color="#545c64"
    text-color="#fff"
    active-text-color="#ffd04b"
    :default-active="resourceCategory"
    :class="$style.menu"
)
    el-menu-item(
        v-for="(resourceCategory) in $options.resourceCategoryEnum"
        :key="resourceCategory"
        :index="resourceCategory.toLowerCase()"
    ) {{ $options.capitalize(resourceCategory) }}
    el-menu-item(:class="$style.filterMenuItem")
        el-input(
            placeholder="Type to filter"
            :model-value="filter"
            @update:model-value="onInputFilter"
        )
</template>

<script>
import { computed } from 'vue';
import { useRouter } from 'vue-router';
import { resourceCategoryEnum, routeParamEnum, routeQueryEnum } from '@enums';
import { capitalize } from '@utils/string';

export default {
    setup() {
        const router = useRouter();

        function onInputFilter(value) {
            router.push({
                ...(
                    value && {
                        query: {
                            [routeQueryEnum.FILTER]: value,
                        },
                    }
                ),
            });
        }

        const filter = computed(() => router.currentRoute.value.query[routeQueryEnum.FILTER]);
        const resourceCategory = computed(() => router.currentRoute.value.params[routeParamEnum.RESOURCE_CATEGORY]);

        return {
            filter,
            onInputFilter,
            resourceCategory,
        };
    },

    resourceCategoryEnum,
    capitalize,
};
</script>

<style lang="stylus" module>
.menu
    display flex

    .filterMenuItem
        margin-left auto
        display flex
        align-items center
        min-width 300px
</style>
