<template lang="pug">
el-container(
    direction="vertical"
    :class="$style.container"
)
    slot(name="header")
        el-header(:class="$style.header")
            MainHeader
    el-main
        slot(name="content")
</template>

<script>
import MainHeader from '@components/header/MainHeader.vue';

export default {
    components: {
        MainHeader,
    },
};
</script>

<style lang="stylus" module>
.container
    height 100%
    min-width 800px

.header
    padding 0
    position sticky
    top 0
    z-index 1
</style>
